.actions {
    width: 100px;

    a {
        padding: 6px 12px;
    }
}

td.actions > form {
    display: inline;
    float: right;

    button {
        padding: 0;
    }
}

.navbar {
    padding-left: 0 !important;
}