.actions {
    width: 100px;

    a {
        padding: 6px 12px;
    }
}

td.actions > form {
    display: inline;

    button {
        padding: 0;
    }
}

.navbar {
    padding-left: 0 !important;
}

.sort {
    cursor: pointer;
    &:hover {
        text-decoration: underline green;
    }
}